@charset "UTF-8";

@font-face {
    font-family:dsfont;
    src: url("../Fontes/OptimusPrinceps.ttf") format('truetype');   
}

*{
    padding: 0px;
    margin: 0px;

    font-family: "dsfont";
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 0px; 
    padding: 0px;

    background: url(../imagens/img/background.jpg)  no-repeat  center center fixed;
    background-size: cover;
}

header{
    margin-top: 10px;
}

header > h1{
    text-align: center;
    font-size: 1.5em;
    font-family: "dsfont",'Times New Roman', Times, serif;
    color: #fff;
}

.imagemheader{
    max-width: 2em;
    width: auto;

    margin: 0px;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    background-color: transparent;
    border: transparent;

    cursor: pointer;

    transition: 0.2s;
}

button:hover{
    transition: 0.5s;
    transform: scale(1.3);
}

.seta{
    width: 90px;

    transform: rotate(30deg);
}

img#voltar{
    transform: scaleX(-1) rotate(30deg);
}

.selecionado{
    opacity: 1 !important;
    z-index: 1 !important;
    position: relative !important;
}

.Bosses{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 290px;

    text-align: center;

    border: 1px solid #000;
    box-shadow: 2px 2px 10px #f00;
    
    opacity: 0;
    z-index: 0;
    position: absolute;
    transition:  0.5s ease-in-out;
}

.bossname{
    display: block;
    
    margin-bottom: 10px;
    padding: 3px 0px;

    font-weight: 900;
    color: #fff;

    background-color: #000;
}

.health, .souls{
    display: block;
    width: 90%;

    margin: 5px auto;
    padding: 2px;

    font-weight: 600;

    border: 1px outset #bebebe;
}

.health{
    color: #000;

    background-color: #f00;
}

.souls{
    color: white;

    background-color: #00f;
}

.descriçãobasíca{
    display: flex;
    justify-content: center;

    text-align: left;

    background-color: #fff;
}

.descrição{
    max-height: auto;

    padding: 10px 0;

    text-align: center;

    background-color:  #fff;

    overflow-y: auto;
}

.descrição{
    padding: 5px;

    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.status{
    width: 33.33%;
}

.fraquezas, .resistencias, .imunidades{
    font-size: 1.1em;
    text-align: center;
    font-weight: 600;
    color: #fff;

    border: 1px solid #000;
}

.fraquezas{
    background-color: #00f;
}

.resistencias{
    background-color: rgb(119, 0, 255);
}

.imunidades{
    background-color: rgb(15, 131, 0);
}

li{
    padding-top: 5px;
}

footer{
    padding: 5px;

    font-size: 25px;
    text-align: center;
    color: #fff;

    background-color: #000;
}

a{
    color: #f00;
    text-decoration: none;
}

a:hover{
    padding: 1px;

    color: #000;

    background-color: #fff;
    border-radius: 10px;
}

.animation{
    transition: .9s;
    transform: rotateY(170deg) rotateZ(50deg) scale(0.5);
}
