@charset "UTF-8";
@font-face {
    font-family:dsfont;
    src: url("../Fontes/OptimusPrinceps.ttf") format('truetype');   
    }
*{
    font-family: "dsfont";
}
html{
    min-height: 100vh;
}
body{
    background-image: url(../imagens/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0px; 
    padding: 0px;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
img.imagemheader{
    width: 80px;
    margin: 0px;
}
img.Boss{
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}
ul.bosses{
    padding: 0px;
    margin: auto;
    min-width: 320px;
    max-width: 60%; 
    min-height: 800px;
    justify-content: center;
    text-align: center;
    position: relative; 
}
li.Bosses{
    background-color: white;
    border: 5px solid black;
    box-shadow: 2px 2px 50px black;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
}
li#selecionado{
    opacity: 1;
    z-index: 1;
}
button{
    padding: 10px;
    border-radius: 50%; 
    cursor: pointer;
    max-width: 100px;
    margin: auto; 
    transition: background-image 0.2s ease-in-out;
}
button:hover{
    background-image: linear-gradient(45deg, #fe5e65, #623e48);
    transition: 0.5s;
    opacity: 0.5;
}
img.seta{
    min-width: 20px;
    max-width: 50px;
}
img#voltar{
    transform: scaleX(-1);
}
p.header{
margin: 0px;
}
p.header > span.bossname{
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellow;
    border-style: solid;
    border-width: 1px;
}
p.header > span.health{
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}
p.header > span.souls{
    color: white;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(17, 0, 255);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
div.fraquezas{
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 110, 255);
    border-style: solid;
    border-width: 1px;
}
div.menufraqueza{
    width: 50%;
}
div.menuresistencias{
    width: 50%;
}
div.menuimunidades{
    width: 50%;
}
div.resistencias{
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(119, 0, 255);
    border-style: solid;
    border-width: 1px;
}
div.imunidades{
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(30, 255, 0);
    border-style: solid;
    border-width: 1px;
}
ul{
    padding: 0px; 
}

div.descrição{
    background-color:  rgb(206, 206, 206);
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
}
#CrystalSage{
    max-height: 200px;
    overflow-y: auto;
}
#YhormTheGiant{
    max-height: 200px;
    overflow-y: auto;
}
#DragonslayerArmour{
    max-height: 200px;
    overflow-y: auto;
}
#SisterFriede{
    max-height: 200px;
    overflow-y: auto;
}
#Halflight{
    max-height: 200px;
    overflow-y: auto;
}
div.descrição>p{
    margin-bottom: 0px;
}
div.descriçãobasíca{
    background-color: rgb(206, 206, 206);
    display: flex;
    text-align: left;
    justify-content: center;
}
div.fundo{
    background-image: url(../imagens/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    margin: 0px 0px; 
    background-color: black;
    font-size: 25px;
    text-align: center;
    padding: 1px;
    margin-top: auto;
}
footer >p {
    margin: 0px;
    color: white;
}
footer > p > a{
    color: red;
    text-decoration: none;
}
footer > p > a:hover{
    color: black;
    background-color: white;
    padding: 1px;
    border-radius: 10px;
}
div.Bosses.selecionado{
    opacity: 1;
    z-index: 1;
}
