@charset "UTF-8";
@font-face {
    font-family:dsfont;
    src: url("../Fontes/OptimusPrinceps.ttf") format('truetype');   
    }
*{
    font-family: "dsfont";
}
body{
    background-image: url(../imagens/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
img.imagemheader{
    width: 80px;
    margin: 0px;
}
img.Boss{
    max-width: 100%;
    margin: auto;
}
div.Bosses{
    border: 5px solid black;
    padding: 0px;
    text-align: center;
    min-width: 400px;
    max-width: 60%;
    margin: 10px auto;
    background-color: white;
    display: block;
    box-shadow: 2px 2px 50px black;
}
button{
    padding: 10px;
    border-radius: 100%;
}
button:hover{
    background-image: linear-gradient(45deg, #fe5e65, #623e48);
}
img.seta{
    width: 50px;
}
img#voltar{
    transform: scaleX(-1);
}
p.header{
margin: 0px;
}
p.header > span.bossname{
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellow;
    border-style: solid;
    border-width: 1px;
}
p.header > span.health{
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}
p.header > span.souls{
    color: white;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(17, 0, 255);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
div.fraquezas{
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 110, 255);
    border-style: solid;
    border-width: 1px;
}
div.resistencias{
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(119, 0, 255);
    border-style: solid;
    border-width: 1px;
}
div.imunidades{
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(30, 255, 0);
    border-style: solid;
    border-width: 1px;
}
ul{
    padding: 0px;
}
div.menufraqueza > ul{
    columns: 3;
}
div.menuresistencias{
      columns: 1;
}
div.menuimunidades > ul{
    columns: 2;
}
div.descrição{
    background-color:  rgb(206, 206, 206);
}
div.descrição>p{
    margin-bottom: 0px;
}
div.descriçãobasíca{
    background-color: rgb(206, 206, 206);
}
div.fundo{
    background-image: url(../imagens/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    margin: 10px -7px -10px -7px;
    background-color: black;
    font-size: 25px;
    text-align: center;
    
}
footer >p {
    margin: 0px;
    color: white;
}
footer > p > a{
    color: red;
    text-decoration: none;
}
footer > p > a:hover{
    color: black;
    background-color: white;
    padding: 1px;
    border-radius: 10px;
}

